#leftbar
{
  background-color: #ebebeb;
}
#homebutton:hover
{
  background-color: #d6d6d6;
}
#msgbutton:hover
{
  background-color: #d6d6d6;
}
#groupbutton:hover
{
  background-color: #d6d6d6;
}
#eventsbutton:hover
{
  background-color: #d6d6d6;
}
#statusbutton:hover
{
  background-color: #d6d6d6;
}
#settingsbutton:hover
{
  background-color: #d6d6d6;
}
