#list
{
  background-color: #d6d6d6;
}
#search_field
{
  background-color: #ebebeb;
  color: #d6d6d6;
}
#search_block
{
  background-color: #ebebeb;
}
#adduser
{
  background-image: url("../../../images/add-user-light.png");  
}
#adduser:hover
{
  background-image: url("../../../images/add-user-hover-light.png");
}
#dm_text
{
  color: #d6d6d6;
}
#entry_block
{
  background-color: #d6d6d6;
}
#entry_text
{
  background-color: #d6d6d6;
  color: #343740;
}
#attach
{
  background-image: url("../../../images/attach-light.png");
}
#attach:hover
{
  background-image: url("../../../images/attach-hover-light.png");
}
#send
{
  background-image: url("../../../images/send-light.png");
}
#send:hover
{
  background-image: url("../../../images/send-hover-light.png");
}
#sticker
{
  background-image: url("../../../images/sticker-light.png");
}
#sticker:hover
{
  background-image: url("../../../images/sticker-hover-light.png");
}
#message
{
  color: #343740;
  background-color: #d6d6d6;
}
#name_time
{
  color: #343740;
}
#nickname
{
  color: #343740;
}
#single
{
  background: #ebebeb;
}
#single:hover
{
  background: #ebebeb;
}
#date
{
  color: #343740;
}