#list
{
  background-color: #d6d6d6;
}
#search_field
{
  background-color: #ebebeb;
  color: #d6d6d6;
}
#search_block
{
  background-color: #ebebeb;
}
#adduser
{
  background-image: url("../../../images/add-user-light.png");  
}
#adduser:hover
{
  background-image: url("../../../images/add-user-hover-light.png");
}
#dm_text
{
  color: #d6d6d6;
}
#entry_block
{
  background-color: #d6d6d6;
}
#entry_text
{
  background-color: #d6d6d6;
  color: #343740;
}
#attach
{
  background-image: url("../../../images/attach-light.png");
}
#attach:hover
{
  background-image: url("../../../images/attach-hover-light.png");
}
#send
{
  background-image: url("../../../images/send-light.png");
}
#send:hover
{
  background-image: url("../../../images/send-hover-light.png");
}
#sticker
{
  background-image: url("../../../images/sticker-light.png");
}
#sticker:hover
{
  background-image: url("../../../images/sticker-hover-light.png");
}
#message
{
  color: #343740;
  background-color: #d6d6d6;
}
#name_time
{
  color: #343740;
}
#nickname
{
  color: rgba(52, 55, 64, 0.85);
}
#msg_name
{
  color: #343740;
}
#single
{
  background-color: rgba(235, 235, 235, 0);
}
#single:hover
{
  background-color: rgba(235, 235, 235, 0.9);
}
#single:link
{
  background-color: rgb(235, 235, 235);
}
#single:link #nickname
{
  color: rgb(52, 55, 64);
}
#date
{
  color: #343740;
}
#stickerlist
{
  background-color: #d6d6d6;
  box-shadow: inset 0 0 0 2px #343740;
}
#msggroup
{
  background-image: url("../../../images/create-group-light.png");
  background-size: 100%;
  background-color: #ebebeb;
  box-shadow: inset 0 0 0 1.5px rgba(52, 55, 64, 0);
}
#msggroup:hover
{
  box-shadow: inset 0 0 0 2.5px #343740;
}
#crgroup_box
{
  background-color: #343740;
  box-shadow: 0 0 0 3px #777b86;
}
#crgroup_search_field
{
  background-color: #ebebeb;
  color: #d6d6d6;
}
#crgroup_search_block
{
  background-color: #ebebeb;
}
#creategroup_title
{
  color: #cccccc;
}