#leftbar
{
  background-color: #141414;
}

#homebutton
{
  background-image: url("../../../images/home-dark.png");
  background-color: #e6e6e9;
  border-radius: 13px;
}
#homebutton:hover
{
  border-radius: 10px;
  background-color: rgba(230, 230, 233, 0.7);
}
#homebutton:link
{
  border-radius: 10px;
  background-color: rgba(230, 230, 233, 0.7);
}

#msgbutton
{
  background-image: url("../../../images/messanger.png");
}
#msgbutton:hover
{
  border-radius: 10px;
  background-color: #333333;
}
#msgbutton:link
{
  border-radius: 10px;
  background-color: #050505;
}

#groupbutton
{
  background-image: url("../../../images/team.png");
}
#groupbutton:hover
{
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.3);
}
#groupbutton:link
{
  border-radius: 10px;
  background-color: #050505;
}

#eventsbutton
{
  background-image: url("../../../images/events.png");
}
#eventsbutton:hover
{
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.3);
}
#eventsbutton:link
{
  border-radius: 10px;
  background-color: #050505;
}

#statusbutton:hover
{
  border-radius: 10px;
  background-color: #333333;
}
#statusbutton:link
{
  border-radius: 10px;
  background-color: #050505;
}

#settingsbutton
{
  background-image: url("../../../images/settings-dark.png");
}
#settingsbutton:hover
{
  border-radius: 10px;
  background-color: #333333;
}
#settingsbutton:link
{
  border-radius: 10px;
  background-color: #050505;
}


#notification_body
{
  background-color: #353535;
  box-shadow: inset 0 0 0 2.5px #e6e6e9;
}
#notification_text
{
  color: #e6e6e9;
}
