#leftbar
{
  background: #141414;
}
#homebutton:hover
{
  background: #333333;
}
#msgbutton:hover
{
  background: #333333;
}
#groupbutton:hover
{
  background-color: rgba(51, 51, 51, 0.3);
}
#eventsbutton:hover
{
  background-color: rgba(51, 51, 51, 0.3);
}
#statusbutton:hover
{
  background: #333333;
}
#settingsbutton:hover
{
  background: #333333;
}
