#settings_scr
{
    background-color: #0e0e0e;
}
#exit_button
{
    background-color: #202020;
    background-image: url("../../../images/exit-dark.png");
}
#exit_button:hover
{
    background-color: #4d4d4d;
}
#menu_block
{
    background-color: #0e0e0e;
}
#title1
{
    color: #e0e0e0;
}
#account_block
{
    background-color: #202020;
}
#add_button
{
    background-color: #4d515e;
    background-image: url("../../../images/add_photo_light.png");
}
#add_button:hover
{
    background-color: #cacaca;
}
#gallery_button
{
    background-color: #4d515e;
    background-image: url("../../../images/gallery-light.png");
}
#gallery_button:hover
{
    background-color: #cacaca;
}
#sgallery
{
    background-color: rgba(0, 0, 0, 0);
}
#sgallery_box
{
    background-color: #1f2846;
    box-shadow: 0 0 0 3px #374676;
}
#sgallery_title
{
    color: #e0e0e0;
}
#nickname-s
{
    color: #e0e0e0;
}
#nickname-n
{
    color: #e0e0e0;
}
#info_box
{
    background-color: #222222;
}
#settings_fields
{
    background-color: #0e0e0e;
    border-color: #0e0e0e;
    color: #e0e0e0;
}
#settings_fields:link
{
    border-color: #964444;
}
#settings_fields:active
{
    border-color: rgba(255, 186, 0, 0.6);
}
#apply_button {
    color: #e0e0e0;
    background: #0e0e0e;
    border: .5px solid #0e0e0e;
}
#apply_button:hover {
    background: #e0e0e0;
    color: #0e0e0e;
}
#title2
{
    color: #e0e0e0;
}
#teams_block
{
    background-color: #202020;
}
#mystic
{
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
}
#mystic:hover
{
    border: 1px solid rgba(0, 119, 241, 0.3);
    border: 2px solid rgba(0, 119, 241, 0.6);
    border: 3px solid rgb(0, 119, 241);
}
#mystic:link
{
    border: 3px solid rgb(0, 119, 241);
    opacity: 0.5;
}
#instinct
{
    background-color: #0e0e0e;
}
#instinct:hover
{
    border: 1px solid rgba(255, 186, 0, 0.3);
    border: 2px solid rgba(255, 186, 0, 0.6);
    border: 3px solid rgb(255, 186, 0);
}
#instinct:link
{
    border: 3px solid rgb(255, 186, 0);
    opacity: 0.5;
}
#valor
{
    background-color: #0e0e0e;
}
#valor:hover
{
    border: 1px solid rgba(255, 13, 2, 0.3);
    border: 2px solid rgba(255, 13, 2, 0.6);
    border: 3px solid rgb(255, 13, 2);
}
#valor:link
{
    border: 3px solid rgb(255, 13, 2);
    opacity: 0.5;
}
#appearance_block
{
    background-color: #202020;
}
#title3
{
    color: #e0e0e0;
}
#title4
{
    color: #e0e0e0;
}
#title5
{
    color: #e0e0e0;
}
#theme_label
{
    color: #dddddd;
}
#chat_bgs
{
    box-shadow: inset 0 0 0 2px #333333;
}
#chat_bgs:hover
{
    box-shadow: inset 0 0 0 2px #dddddd;
}
#chat_bgs:link
{
    box-shadow: inset 0 0 0 2px #dddddd;
}
#about_info
{
    color: #c3c8da;
}
