#scrollable_msg
{
  background-color: #1c2e55;
  background-image: url("../../chat-background/default/pikachu.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#messanger
{
  background-color: #1c2e55;
}
