#scrollable_msg
{
  background-color: #178fce;
  background-image: url("../../chat-background/default/magikarp.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#messanger
{
  background-color: #178fce;
}