#scrollable_msg
{
  background-color: #142042;
  background-image: url("../../chat-background/default/pokeball.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#messanger
{
  background-color: #142042;
}