#homescreen
{
  background-size: 1215px;
  border: none;
}
#activity
{
  border-radius: 13px;
  padding: 13px;
}
#active_text
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 9px;
}
#fact
{
  border-radius: 13px;
  padding-bottom: 0px;
  transition: .3s cubic-bezier(0.18,0.62,0.71,0.5);
}
#fact_box
{
  border-radius: 13px;
  padding: 13px;
  padding-bottom: 0px;
}
#fact_text
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
#pokemon-text
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#welcome
{
  border-radius: 13px;
  background-size: 100%;
  padding: 13px;
}
#tomsg
{
  border-radius: 13px;
  background-size: 100%;
  transition: .2s cubic-bezier(0.18,0.62,0.71,0.5);
  opacity: 1;
}
#tomsg_inner
{
  border-radius: 13px;
  background-image: none;
  opacity: 0.09;
}
#tomsg_inner:hover
{
  transition: .2s cubic-bezier(0.18,0.62,0.71,0.5);
  background-size: 100%;
  background-image: url("../images/tomsg_bg.png");
}
#togroup
{
  border-radius: 13px;
  background-size: 100%;
  transition: .2s cubic-bezier(0.18,0.62,0.71,0.5);
  opacity: 0.3;
}
#togroup_inner
{
  border-radius: 13px;
  background-image: none;
  opacity: 0.09;
}
#togroup_inner:hover
{
  transition: .2s cubic-bezier(0.18,0.62,0.71,0.5);
  background-size: 100%;
  background-image: url("../images/togroup_bg.png");
}
#tosettings
{
  border-radius: 13px;
  background-size: 100%;
  opacity: 1;
  transition: 0.1s cubic-bezier(0.18,0.62,0.71,0.5);
}
#tosettings_inner
{
  border-radius: 13px;
  background-image: none;
  opacity: 0.09;
}
#tosettings_inner:hover
{
  transition: 0.2s cubic-bezier(0.18,0.62,0.71,0.5);
  background-size: 100%;
  background-image: url("../images/tosettings_bg.png");
}
#active
{
  border-radius: 10px;
  padding: 4px;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#active:hover
{
  border-radius: 20px;
}
#active_name
{
  font-family: Rubik, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
}
