#homebutton
{
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-image: url("../images/home.png");
  background-size: 100%;
}
#homebutton:hover
{
  border-radius: 10px;
}
#msgbutton
{
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#msgbutton:hover
{
  border-radius: 10px;
}
#groupbutton
{
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#groupbutton:hover
{
  border-radius: 10px;
}
#eventsbutton
{
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#eventsbutton:hover
{
  border-radius: 10px;
}
#statusbutton
{
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#statusbutton:hover
{
  border-radius: 10px;
}
#settingsbutton
{
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#settingsbutton:hover
{
  border-radius: 10px;
}
