#homebutton
{
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: 100%;
}
#msgbutton
{
  border-radius: 50%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: 100%;
}
#groupbutton
{
  border-radius: 50%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: 100%;
  opacity: 0.3;
}
#eventsbutton
{
  border-radius: 40%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: 100%;
  opacity: 0.3;
}
#statusbutton
{
  border-radius: 50%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#settingsbutton
{
  border-radius: 50%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-size: 100%;
}
