#search_field
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  border-radius: 13px;
  border: none;
  font-size: 12px;
  box-shadow: none;
}
#search_block
{
  border-radius: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
#adduser
{
  background-image: url("../images/add-user.png");
  background-repeat: no-repeat;
  background-size: 22px;
}
#adduser:hover
{
  background-image: url("../images/add-user-hover.png");
}
#dm_text
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 11px;
  margin-left: 15px;
}
#entry_block
{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 13px;
}
#attach
{
  background-image: url("../images/attach.png");
  background-repeat: no-repeat;
  background-size: 26px;
}
#attach:hover
{
  background-image: url("../images/attach-hover.png");
}
#entry_text
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  border: none;
  font-size: 14px;
  box-shadow: none;
}
#send
{
  background-image: url("../images/send.png");
  background-repeat: no-repeat;
  background-size: 26px;
}
#send:hover
{
  background-image: url("../images/send-hover.png");
}
#sticker
{
  background-image: url("../images/sticker.png");
  background-repeat: no-repeat;
  background-size: 26px;
}
#sticker:hover
{
  background-image: url("../images/sticker-hover.png");
}
#messages_block
{
  margin-left: 20px;
  margin-right: 20px;
}
#messages_body
{
  margin-bottom: 0px;
  margin-top: 10px;
}
#message
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;

  border: none;
  border-radius: 13px;
  box-shadow: none;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#name_time
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 9px;
}
#chatlist
{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
#nickname
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
}
#single
{
  border-radius: 13px;
  padding-left: 5px;
}
#status
{
  background-image: url("../images/status_online.png");
  background-size: 100%;
}
#date
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;
}