#settings_scr
{
    background-color: #39456d;
}
#menu_block
{
    border-radius: 13px;
    background-color: #39456d;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#title1
{
    font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #c3c8da;
    letter-spacing: .8px;
    font-size: 15px;
}
#account_block
{
    border-radius: 13px;
    background-color: #242b42;
    padding: 20px;
    padding-top: 0px;
    margin-top: 15px;
}
#add_button
{
    background-color: #c3c8da;
    background-image: url("../images/add_photo.png");
    background-size: 100%;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(.17,.67,.83,.67);
}
#add_button:hover
{
    background-color: #878a96;
}
#nickname-s
{
    font-family: 'Uni Sans', Rubik, 'Helvetica Neue Light', sans-serif;
    font-weight: 600;
    color: #c3c8da;
    letter-spacing: .9px;
    font-size: 25px;
}
#nickname-n
{
    font-family: 'Uni Sans', Rubik, 'Helvetica Neue Light', sans-serif;
    font-weight: 200;
    color: #c3c8da;
    letter-spacing: .9px;
    font-size: 20px;
}
#info_box
{
    border-radius: 13px;
    background-color: #39456d;
    padding: 20px;
}
#settings_fields
{
    font-family: Rubik, 'Helvetica Neue Light', sans-serif;
    font-weight: 200;
    background-color: #242b42;
    border: none;
    border-color: #4a5785;
    color: #c3c8da;
    letter-spacing: .9px;
}
#apply_button {
    color: rgb(193, 206, 236);
    font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: .8px;
    background: #273255;
    border: .5px solid #273255;
    margin-top: 40px;
}
#apply_button:hover {
    background: rgb(193, 206, 236);
    color: #273255;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
}
#title2
{
    font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #c3c8da;
    letter-spacing: .8px;
    font-size: 15px;
    margin-top: 40px;
}
#teams_block
{
    border-radius: 13px;
    background-color: #242b42;
    padding: 20px;
    margin-top: 15px;
}
#mystic
{
    border-radius: 20px;
    background-color: #1f2846;
    background-size: 100%;
    background-image: url("../images/mystic.png");
}
#instinct
{
    border-radius: 20px;
    background-color: #1f2846;
    background-size: 100%;
    background-image: url("../images/instinct.png");
}
#valor
{
    border-radius: 20px;
    background-color: #1f2846;
    background-size: 100%;
    background-image: url("../images/valor.png");
}