#settings_scr
{
    background-color: #273255;
}
#menu_block
{
    border-radius: 13px;
    background-color: #39456d;
    margin: 10px;
    margin-right: 20px;
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#edit_button {
    color: rgb(193, 206, 236);
    font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: .8px;
    background: #273255;
    border: .5px solid rgb(193, 206, 236);
}
#edit_button:hover {
    background: rgb(193, 206, 236);
    color: #273255;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
}
#apply_button {
    color: rgb(193, 206, 236);
    font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: .8px;
    background: #273255;
    border: .5px solid rgb(193, 206, 236);
    margin-top: 40px;
}
#apply_button:hover {
    background: rgb(193, 206, 236);
    color: #273255;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
}
#changing_setting
{
    background-color: #fff;
    margin-left: 50px;
}
#avatar_selection
{
    background-color: #000;
    margin-left: 50px;
}
#teams_block
{
    border-radius: 13px;
    background-color: #39456d;
    margin: 10px;
    padding: 10px;
    padding-top: 5px;
}
#teams_text
{
  font-family: Rubik, 'Helvetica Neue Light', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #e7ecff;
  font-size: 15px;
}
#mystic
{
    border-radius: 20px;
    background-color: #1f2846;
    background-size: 100%;
    background-image: url("../images/mystic.png");
}
#instinct
{
    border-radius: 20px;
    background-color: #1f2846;
    background-size: 100%;
    background-image: url("../images/instinct.png");
}
#valor
{
    border-radius: 20px;
    background-color: #1f2846;
    background-size: 100%;
    background-image: url("../images/valor.png");
}