#leftbar
{
  background: #273255;
}
#homescreen
{
  background-image: url("../images/homeBG.png");
  border: none;
}
#messanger
{
  background-image: url("../images/messangerBG.png");
  border: none;
}
