#scrollable_msg
{
  background-color: #0c0c0c;
  background-image: url("../../chat-background/dark/umbreon.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#messanger
{
  background-color: #0c0c0c;
}
