#scrollable_msg
{
  background-color: #231f20;
  background-image: url("../../chat-background/dark/pikachu.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#messanger
{
  background-color: #231f20;
}