#leftbar
{
  background-color: #273254;
}

#homebutton
{
  background-image: url("../../../images/home.png");
}
#homebutton:hover
{
  border-radius: 10px;
  background-color: #39456d;
}
#homebutton:link
{
  border-radius: 10px;
  background-color: #39456d;
}

#msgbutton
{
  background-image: url("../../../images/messanger.png");
}
#msgbutton:hover
{
  border-radius: 10px;
  background-color: #39456d;
}
#msgbutton:link
{
  border-radius: 10px;
  background-color: #39456d;
}

#groupbutton
{
  background-image: url("../../../images/team.png");
}
#groupbutton:hover
{
  border-radius: 10px;
  background-color: rgba(57, 69, 109, 0.3);
}
#groupbutton:link
{
  border-radius: 10px;
  background-color: #39456d;
}

#eventsbutton
{
  background-image: url("../../../images/events.png");
}
#eventsbutton:hover
{
  border-radius: 10px;
  background-color: rgba(57, 69, 109, 0.3);
}
#eventsbutton:link
{
  border-radius: 10px;
  background-color: #39456d;
}

#statusbutton:hover
{
  border-radius: 10px;
  background-color: #39456d;
}
#statusbutton:link
{
  border-radius: 10px;
  background-color: #39456d;
}

#settingsbutton
{
  background-image: url("../../../images/settings.png");
}
#settingsbutton:hover
{
  border-radius: 10px;
  background-color: #39456d;
}
#settingsbutton:link
{
  border-radius: 10px;
  background-color: #39456d;
}