#list
{
  background-color: #39456d;
}
#search_field
{
  background-color: #18254e;
  color: rgb(180, 191, 216);
}
#search_block
{
  background-color: #18254e;
}
#adduser
{
  background-image: url("../../../images/add-user.png");  
}
#adduser:hover
{
  background-image: url("../../../images/add-user-hover.png");
}
#dm_text
{
  color: #6776a7;
}
#entry_block
{
  background-color: #344065;
}
#entry_text
{
  background-color: #344065;
  color: rgb(193, 206, 236);
}
#attach
{
  background-image: url("../../../images/attach.png");
}
#attach:hover
{
  background-image: url("../../../images/attach-hover.png");
}
#send
{
  background-image: url("../../../images/send.png");
}
#send:hover
{
  background-image: url("../../../images/send-hover.png");
}
#sticker
{
  background-image: url("../../../images/sticker.png");
}
#sticker:hover
{
  background-image: url("../../../images/sticker-hover.png");
}
#message
{
  color: rgb(193, 206, 236);
  background-color: #5063a3;
}
#name_time
{
  color: #657dc9;
}
#msg_name
{
  color: #657dc9;
}
#nickname
{
  color: rgba(101, 124, 201, 0.85);
}
#single
{
  background-color: rgba(39, 50, 84, 0);
}
#single:hover
{
  background-color: rgb(39, 50, 84);
}
#single:link
{
  background-color: rgb(39, 50, 84);
}
#single:link #nickname
{
  color: rgb(101, 124, 201);
}
#date
{
  color: #657dc9;
}
#stickerlist
{
  background-color: #344065;
  box-shadow: inset 0 0 0 2px #657dc9;
}
#stickers:hover
{
  background-color: rgb(44, 54, 85);
  border-radius: 8px;
}
#msggroup
{
  background-image: url("../../../images/create-group.png");
  background-size: 100%;
  background-color: #18254e;
  box-shadow: inset 0 0 0 1.5px rgba(69, 100, 167, 0);
}
#msggroup:hover
{
  box-shadow: inset 0 0 0 2.5px #4564a7;
}
#crgroup_box
{
  background-color: #1f2846;
  box-shadow: 0 0 0 3px #374676;
}
#crgroup_search_field
{
  background-color: #151a2c;
  color: rgb(180, 191, 216);
}
#crgroup_search_block
{
  background-color: #151a2c;
}
#creategroup_title
{
  color: #c3c8da;
}
#crlist_person
{
  background-color: #191f35;
}
#crlist_person:hover
{
  background-color: #151a2c;
}
#group_people
{
  background-color: #18254e;
  box-shadow: inset 0 0 0 1.5px rgba(55, 70, 118, 0.6);
}
#crgroup_name_field
{
  background-color: #151a2c;
  color: rgb(180, 191, 216);
}
#crgroup_button
{
  color: rgb(193, 206, 236);
  background: #374676;
  border: .5px solid #374676;
}
#crgroup_button:hover {
  background: rgb(193, 206, 236);
  color: #273255;
}
#username_profile
{
  color: #c3c8da;
}
#status_profile
{
  color: rgba(195, 200, 218, 0.6);
}
#sendmessage_profile
{
  color: rgb(193, 206, 236);
  background: #374676;
  border: .5px solid #374676;
}
#sendmessage_profile:hover {
  background: rgb(193, 206, 236);
  color: #273255;
}