#list
{
  background-color: #39456d;
}
#search_field
{
  background-color: #18254e;
  color: rgb(180, 191, 216);
}
#search_block
{
  background-color: #18254e;
}
#adduser
{
  background-image: url("../../../images/add-user.png");  
}
#adduser:hover
{
  background-image: url("../../../images/add-user-hover.png");
}
#dm_text
{
  color: #6776a7;
}
#entry_block
{
  background-color: #344065;
}
#entry_text
{
  background-color: #344065;
  color: rgb(193, 206, 236);
}
#attach
{
  background-image: url("../../../images/attach.png");
}
#attach:hover
{
  background-image: url("../../../images/attach-hover.png");
}
#send
{
  background-image: url("../../../images/send.png");
}
#send:hover
{
  background-image: url("../../../images/send-hover.png");
}
#sticker
{
  background-image: url("../../../images/sticker.png");
}
#sticker:hover
{
  background-image: url("../../../images/sticker-hover.png");
}
#message
{
  color: rgb(193, 206, 236);
  background-color: #5063a3;
}
#name_time
{
  color: #657dc9;
}
#nickname
{
  color: #657dc9;
}
#single
{
  background: #273254;
}
#single:hover
{
  background: #273254;
}
#date
{
  color: #657dc9;
}