#scrollable_msg
{
  background-color: #ceeffa;
  background-image: url("../../chat-background/light/starter.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#messanger
{
  background-color: #ceeffa;
}